    body{
        color: rgb(37, 2, 2);
          
        ;
    }
    .r{
        color: white;
        background-color: red;
        border: none;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
    }

    
    p{
        color: rgba(0,0, 255, 0.7)
       
    }

    
    body{
        width: 100%;
        height: 100vh;
        background-color: bisque;
        
    }

    .a{
        margin-top: 50px;
    }

    html {
        scroll-behavior: smooth;
    }

   .s{
      padding: 10px 20px;
        border-radius: 10px;
        background-color: rgb(16, 90, 175);
        color: rgb(255, 255, 255);
        border: none;
        
   }